@import 'filepond/dist/filepond.min.css';

.filepond--file-status{
    align-items: end!important;
    span{
        direction: rtl!important;
    }
}

.filepond--file-poster{
    img{
        width: 100% !important;
        object-fit: cover;
    }
}

.filepond--root {
    .filepond--panel-root {
        background-color: white;
    }
}
.filepond--drop-label{
    *{
        white-space: normal!important;

    }
}
.filepond--image-canvas-wrapper{
    transform: none !important;

    height: 100%;
    width: 100%;
    .filepond--image-bitmap{
        height: 100%;
        width: 100%;
        canvas{
            height: 100%;
            width: 100%;
        }

    }
}
